[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=cmdtorun
Name=Name
Path=./
Icon=ico.jpg
Terminal=false
Categories=Test